<div style="text-align:center">
  <img width="500" alt="Close your eyes and picture the perect world" src="http://4.bp.blogspot.com/-sCTN3m0Jg-k/U4H5fQPMsdI/AAAAAAAAM1I/bV9EHI0WVfw/w1200-h630-p-k-no-nu/Colse-your-eyes-and-picture-the-perfect-world-saying-quotes.gif">
  <h1>
    .:.:.: Let's create some weirdly <span *ngIf="appInputAdjective">{{ appInputAdjective }}</span>
    <span *ngIf="!appInputAdjective">perfect</span> sentences :.:.:.
  </h1>
</div>

<div class="divCenter">

  <p class="paragraphInline">Noun:
<input [(ngModel)]="appInputNoun" type="text" placeholder="Noun" />
</p> 

<p class="paragraphInline">Adjective:
<input [(ngModel)]="appInputAdjective" type="text" placeholder="Adjective" />
</p>
</div>
<div>
<p class="final-sentence">
    The pony is so <span class="spanWidth">{{ appInputAdjective }}</span>! He loves his friend, the <span class="spanWidth">{{ appInputNoun }}</span>.
</p>
<p class="final-sentence">
    My cousin looks like a <span class="spanWidth">{{ appInputNoun }}</span>, because she is always very <span class="spanWidth">{{ appInputAdjective }}</span>.
</p>
<p class="final-sentence">
    I don't know why I ate this <span class="spanWidth">{{ appInputNoun }}</span>, now I feel <span class="spanWidth">{{ appInputAdjective }}</span>.
</p>
<p class="final-sentence">
    Wouldn't it be nice if he was <span class="spanWidth">{{ appInputAdjective }}</span>? Instead, he always acts like a <span class="spanWidth">{{ appInputNoun }}</span>.
</p>
</div>


